@import "_mixins.scss";
$redLight: hsl(0, 36%, 70%);
$redSoft: hsl(0, 93%, 68%);
* {
  margin: 0;
  padding: 0;
  outline: 0;
  list-style: none;
  box-sizing: border-box;
}
*:focus {
  outline: 0;
}
html,
body,
#root {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
}

body,
input,
button,
p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}

.main {
  width: 100%;
  max-width: 1470px;
  margin: 0 auto;
  padding: 50px 15px 30px;
}
.comming-soon {
  width: 100%;
  box-shadow: 0 2px 30px -8px rgba(0, 0, 0, 0.3);
  display: flex;
  // background: url(../../../design/desktop-design.jpg) center no-repeat;
  @include mqrange(768px, 5000px) {
    min-height: 800px;
  }
  .contents {
    flex-grow: 1;
    background: url(../images/bg-pattern-desktop.svg) center no-repeat;
    background-size: cover;
    padding: 65px 30px 0 165px;
    .logo {
      background: url(../images/logo.svg) center no-repeat;
      background-size: cover;
      width: 160px;
      height: 33px;
      & > span {
        position: absolute;
        left: -9999px;
      }
    }
    .text {
      padding-top: 138px;
      h2 {
        color: hsl(0, 36%, 70%);
        font-size: 64px;
        font-weight: 300;
        letter-spacing: 17px;
        text-transform: uppercase;
        padding-bottom: 18px;
        b {
          display: block;
          color: hsl(0, 6%, 24%);
          line-height: 1.1;
        }
      }
      p {
        color: hsl(0, 36%, 70%);
        line-height: 1.8;
        max-width: 430px;
        padding-bottom: 40px;
      }
    }
    .form {
      width: 100%;
      max-width: 445px;
      form {
        position: relative;
        width: 100%;
        input[type="email"] {
          width: 100%;
          height: 56px;
          color: hsl(0, 36%, 70%);
          background-color: transparent;
          border-radius: 100px;
          border: solid 1px hsl(0, 36%, 70%);
          padding: 0 110px 0 32px;
          z-index: 1;
          @include placeholder {
            color: hsl(0, 36%, 70%);
            opacity: 0.8;
          }
          &:focus:invalid {
            border: solid 1px hsl(0, 93%, 68%);
            & ~ .error {
              width: 100%;
              top: 0;
              margin-top: 55px;
              display: block;
              position: absolute;
              &:before {
                content: "Enter a valid email address.";
                display: block;
                width: 100%;
                color: hsl(0, 93%, 68%);
                font-size: 12px;
                padding-top: 10px;
                text-align: center;
              }
            }
          }
        }
        button {
          position: absolute;
          top: 0;
          right: 0;
          margin-right: 1px;
          margin-top: 1px;
          border-radius: 100px;
          width: 99px;
          height: 54px;
          border: 0;
          font-size: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          background-image: linear-gradient(
            135deg,
            hsl(0, 80%, 86%),
            hsl(0, 74%, 74%)
          );
          transition: background-image 0.5s linear;
          cursor: pointer;
          &:hover {
            background-image: linear-gradient(
              135deg,
              hsl(0, 74%, 74%),
              hsl(0, 80%, 86%)
            );
          }
          &:before {
            content: "";
            display: block;
            width: 10px;
            height: 10px;
            border-right: solid 2px #fff;
            border-bottom: solid 2px #fff;
            transform-origin: center;
            transform: rotate(-45deg);
            z-index: 2;
          }
        }
      }
    }
  }
  .photo {
    flex: 0 0 610px;
    background: url(../images/hero-desktop.jpg) center no-repeat;
    background-size: cover;
  }
}

.attribution {
  color: hsl(218, 22%, 67%);
  font-size: 16px;
  padding: 25px 15px;
  text-align: center;
  a {
    color: hsl(179, 62%, 43%);
    text-decoration: none;
  }
}
